.components {
  height: inherit;
  display:flex;
  flex-direction:column;
}

.components div{
  flex: 1;
}

.components p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  margin: 10px 0 5px;
}